{
padding: 0px;
margin: 0px;
}
ul{
    border: solid 1px;
    width: 300px;
    position: fixed;
    height:100%;
    padding-top: 70px;
    list-style: none;
}
#text1{
    color: cadetblue;
    font-size: larger;
    font-weight: bolder;
}
#text2{
    color: cadetblue;
    font-size: larger;
    font-weight: bolder;
}
ul li{
    border:solid 1px cornsilk;
    height: 50px;
    width: 150px;
    margin-left: 40px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
    margin-bottom: 20px;
}
ul li a{
    color: blueviolet;
    font-size: x-large;
    text-decoration: none;
    font-weight: lighter;
}
ul li:hover{
    background-color: burlywood;
}
#home{
    border: solid 50px;
    height: 600px;
    background-color: antiquewhite;
    padding-left: 500px;
}
#text3{
    color: blueviolet;
    font-size: xx-large;
}
#text4{
    color: blueviolet ;
    font-size: x-large;
}
#text5{
    color: darkgreen;
}
#bt1{
    height: 50px;
    width: 100px;
    color: black;
    border-radius: 20px;
    font-size: medium;
    font-weight: lighter;
    background-color:lavenderblush;
    margin-top: 40px;
}
#about{
    border: solid 1px;
    height: 600px;
    background-color: antiquewhite;
    padding-left: 335px;
}
#aboutme{
    font-size: 22px;
    font-weight: lighter;
}
html{
    scroll-behavior: smooth;
}